{
    "arrowParens": "always",
    "experimentalOperatorPosition": "start",
    "experimentalTernaries": true,
    "useTabs": true,
    "tabWidth": 4,
    "semi": false,
    "vueIndentScriptAndStyle": true
}