@use './modules/root';
@use './modules/skeleton';
@use './modules/utility';

@font-face {
    font-family: 'Noto Sans JP';
    font-display: swap;
    src: url('../fonts/NotoSansJP-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'M PLUS 2';
    font-display: swap;
    src: url('../fonts/MPLUS2-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'IBM Plex Sans JP';
    font-display: swap;
    src: url('../fonts/IBMPlexSansJP-Regular.ttf');
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background: var(--body-bg-color);
    color: var(--body-ft-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'M PLUS 2', sans-serif;
    line-height: 1.4em;
}

.subfont {
    font-family: 'IBM Plex Sans JP', sans-serif;
    line-height: 1.3em;
}

#app {
    $margin-space: 1rem;
    $element-space: 1rem;

    width: min(100dvw - calc($margin-space * 2), 500px);
    margin-inline: auto;

    & > * {
        & + * {
            margin-top: $element-space;
        }
    }

    & > :first-child {
        margin-top: $margin-space;
    }

    & > :last-child {
        margin-bottom: $margin-space;
    }
}
