$black-00: #292929;
$black-01: #303030;
$black-02: #474747;
$black-03: #686868;
$brown-00: #4e3c3b;
$brown-01: #d8b89d;
$green-00: #5c5f4f;
$green-01: #b7c287;
$cream-00: #ecded3;
$red-00: #ff8e8e;
$blue-00: #6fbeff;
$yellow-00: #ffdb3b;
$orange-00: #ff6638;

$border-thick: 1px;
$border-radius: 7px;

$animation-speed: 200ms;

$space: 0.5em;
$space-small: 0.8em;

$font-small: 0.8em;

$comp-background-color: light-dark(black, $black-01);
$comp-border-color: light-dark(black, $black-03);
$comp-border-color-focus: light-dark(black, $green-01);
