@use "./modules/root" as rt;
@import url(https://fonts.bunny.net/css?family=ibm-plex-sans-jp:200,400,600|m-plus-2:400,600,900);

body {
  background: light-dark(#fff, rt.$black-00);
  color: light-dark(#000, rt.$cream-00);
  font-family: "IBM Plex Sans JP";
}

[jp] {
  font-family: "M PLUS 2";
  line-height: 1.6;
}

main,
header,
footer {
  $body-pad: 1em;

  margin-block: $body-pad;
  width: min(600px, calc(100dvw - calc($body-pad * 2)));
  margin-inline: auto;
}

span.span--blue {
  color: rt.$blue-00;
}

.subtext {
  font-size: rt.$font-small;
  color: light-dark(black, rgba(white, 0.6));
}
