@import url(https://fonts.bunny.net/css?family=ibm-plex-sans-jp:200,400,600|m-plus-2:400,600,900);

body {
  background: light-dark(#fff, root.$black-00);
  color: light-dark(#000, root.$cream-00);
  font-family: "IBM Plex Sans JP";
}

[jp] {
  font-family: "M PLUS 2";
  line-height: 1.6;
}

main,
header,
footer {
  $body-margin: 1em;

  margin-block: $body-margin;
  width: min(600px, calc(100dvw - calc($body-margin * 2)));
  margin-inline: auto;
}

main {
  margin-block-end: 10em;
}

code {
  padding: 0.2em 0.6em;
  @include util.with-border(root.$black-dark-00-m);
}

span.span--blue {
  color: root.$blue-00;
}

.subtext {
  font-size: root.$font-small;
  color: light-dark(black, rgba(white, 0.6));
}
