$c-blk: #333;
$c-blk-2: #2f353b;
$c-blk-3: #414850;
$c-wht: #fff;
$c-gry: #929da8;
$c-red: #e23149;
$c-blue: #50b0ff;
$c-blue-00: #2b5868;
$c-org: #ff6638;
$c-ylw: #ffdb3b;

[data-theme='dark'] {
  // Button Color
  --button-full-bg-color: #{$c-wht};
  --button-full-ft-color: #{$c-blk};
  --button-active-bg-color: #{$c-wht};
  --button-active-ft-color: #{$c-blk};
  --button-outline-bg-color: transparent;
  --button-outline-ft-color: #{$c-blk};

  --link-bg-color: transparent;
  --link-ft-color: #{$c-wht};
  --link-bg-color-active: #{$c-wht};
  --link-ft-color-active: #{$c-blk};

  // Checkbox
  --chkbox-bg-color: #{$c-blk-2};
  --chkbox-bd-color: #{$c-blk-3};
  --chkbox-bg-color-active: #{$c-wht};
  --chkbox-chk-color: #{c-blk-2};

  // Search Color
  --search-bg-color: #{$c-blk-2};
  --search-bd-color: #{$c-blk-3};
  --search-ft-color: #{$c-wht};
  --search-ft-color-ph: #{$c-gry};

  // Word Color
  --word-bg-color: #{$c-blk-2};
  --word-bd-color: #{$c-blk-3};

  // Footer Color
  --footer-bg-color: #{$c-blk-2};

  // Book
  --book-vol-1: #{$c-red};
  --book-vol-2: #{$c-blue};

  // Japanese
  --kana-kanji: #{$c-org};
  --hiragana: #{$c-ylw};
}
