@mixin spaced($direction: block, $gap: 0, $inline: false, $auto: false) {
  @if $inline == true {
    display: flex-inline;
  } @else {
    display: flex;
  }

  @if $direction == 'block' {
    flex-direction: column;
  } @else if $direction == 'inline' {
    flex-direction: row;
  }

  gap: #{$gap};

  @if $auto == true {
    & > * {
      flex: 1 1 100px;
    }
  }
}
