@mixin transition($properties, $duration: 200ms) {
  transition-property: unquote(#{$properties});
  transition-duration: #{$duration};
  transition-timing-function: ease;
}

// Actions
@mixin onPress($hardness: 0.97) {
  &:is(:active) {
    scale: #{$hardness};
  }
}
