@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Instrument+Sans&display=swap');
:root {
  scroll-behavior: smooth;

  --app-background: #24292e;
  --app-font: #e7ebf0;
  --app-font-muted: #838485;
  --app-font-inverse: #3f3f3f;

  --component-limit-width: 600px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: var(--app-background);
  color: var(--app-font);

  font-family: 'Instrument Sans', sans-serif;
  transition: background ease 200ms;
}

*[lang='jp'] {
  font-family: 'IBM Plex Sans JP', sans-serif;
}

a:any-link {
  color: inherit;
  text-underline-offset: 3px;

  &:is(:hover, :focus, :active) {
    outline: 1px solid white;
  }
}
