// ============= //
//    MARGINS    //
// ============= //
@mixin border_top($color) {
  & > * + * {
    border-top: 1px solid #{$color};
  }
}

@mixin margin_top($spacing) {
  & > * + * {
    margin-top: #{$spacing};
  }
}

@mixin margin_left($spacing) {
  & > * + * {
    margin-left: #{$spacing};
  }
}

@mixin display($display) {
  & > * {
    display: #{$display};
  }
}

// ================= //
//    NEW MIXINS     //
// ================= //
@mixin flex($dir, $wrap, $gap) {
  display: flex;
  flex-flow: #{$dir} #{$wrap};
  gap: #{$gap};
}

@mixin inline_flex($dir, $wrap, $gap) {
  display: inline-flex;
  flex-flow: #{$dir} #{$wrap};
  gap: #{$gap};
}

@mixin item_alignment($align, $justify) {
  align-items: #{$align};
  justify-content: #{$justify};
}

@mixin spacing($space, $direction) {
  @if #{$direction} == 'y' {
    & > * + * {
      margin-top: #{$space};
    }
  }

  @if #{$direction} == 'x' {
    & > * + * {
      margin-left: #{$space};
    }
  }
}

@mixin transition($property) {
  transition-property: #{$property};
  transition-duration: var(--component-transition-duration);
  transition-timing-function: ease;
}

// ============== //
//    DEFAULTS    //
// ============== //

@mixin debug {
  background-color: rgba(red, 0.5);
}

@mixin no_outline {
  outline: none !important;
}

@mixin button_pressed() {
  scale: 0.95;
}
