// ================= //
//    NEW MIXINS     //
// ================= //
@mixin flex($dir, $wrap, $gap) {
  display: flex;
  flex-flow: #{$dir} #{$wrap};
  gap: #{$gap};
}

@mixin inline_flex($dir, $wrap, $gap) {
  display: inline-flex;
  flex-flow: #{$dir} #{$wrap};
  gap: #{$gap};
}

@mixin item_alignment($align, $justify) {
  align-items: #{$align};
  justify-content: #{$justify};
}

@mixin spacing($space, $direction) {
  @if #{$direction} == 'y' {
    & > * + * {
      margin-top: #{$space};
    }
  }

  @if #{$direction} == 'x' {
    & > * + * {
      margin-left: #{$space};
    }
  }
}

@mixin transition($duration: 200ms) {
  transition-duration: $duration;
  transition-timing-function: ease;
}

// ============== //
//    DEFAULTS    //
// ============== //

@mixin debug {
  background-color: rgba(red, 0.5);
}

@mixin outline-none {
  outline: none !important;
}

@mixin outline_active {
  &:is(:focus-visible) {
    outline: 4px solid var(--component-outline-color) !important;
  }
}

@mixin button_pressed($hardness: 0.97) {
  &:is(:active) {
    scale: $hardness;
  }
}

@mixin no_user_select() {
  user-select: none;
}
