@import './mixins';

:root {
  scroll-behavior: smooth;

  // Application theme
  --app-background-color: #24292e;
  --app-font-color: #e7ebf0;
  --app-font-muted-color: #838485;
  --app-font-inverse-color: #3f3f3f;
  --app-border-color: #838485;
  --app-font-family: 'Instrument Sans', 'IBM Plex Sans JP', sans-serif;

  // Component specific
  --component-background-color: #40464d;
  --component-active-background-color: #797c85;
  --component-active-tab-background-color: #e7ebf0;
  --component-active-tab-font-color: #24292e;
  --component-border-color: #838485;
  --component-border-radius: 5px;
  --component-padding: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3a424b;
  border-radius: 7px;

  &:hover {
    background-color: #74818f;
  }
}

body {
  background-color: var(--app-background-color);
  color: var(--app-font-color);
  font-family: var(--app-font-family);
  font-size: 1rem;

  @include default_transition();
  transition-property: background;
}
