:root {
  scroll-behavior: smooth;
  color-scheme: light dark;

  --component-max-width: 600px;
  --component-transition-duration: 200ms;
  --component-border-radius: 7px;
}

:root[data-theme='dark'] {
  color-scheme: dark;
  // App
  --app-background-color: #24292e;
  --app-font-color: #e0e0e0;
  --app-font-color-muted: #777777;

  // App . Accent
  --app-accent-color: #e0e0e0;
  --app-accent-color-muted: #2b323b;
  --app-accent-font-color: #24292e;
  --app-accent-font-color-muted: #777777;

  // Component Color
  // --component-background-color: #e0e0e0;
  // --component-background-color-muted: #e0e0e0;
  // --component-font-color: #24292e;
  // --component-font-placeholder-color: #686868;
  // --component-outline-color: white;

  // Component . Border . Box
  --component-border-color: #434f58;
  --component-border-color-muted: #373f47;
  --component-box-background-color: #2f353b;

  // Component . Input
  --component-input-background-color: #eee;
  --component-input-font-color: #3f3f3f;

  // Component . Wrapper . Shade
  --component-wrapper-background-color: #e0e0e0;
  --component-wrapper-font-color: #34383b;
  --component-wrapper-font-color-placeholder: #595d61;
  --component-shade-color: #00000033;

  // Component . Header
  --component-header-border-color: #3a3f4d;

  // Japanese
  --en-symbol: '\82F1';
}

:root[data-theme='light'] {
  color-scheme: light;
  --app-background-color: #e3e3e3;

  // Font Color
  --app-font-color: #34383b;
  --app-font-color-muted: #d3d3d3;

  // Accent Color
  --app-accent-color: #d5d5d5;
  --app-accent-color-muted: #bbc0c7;
  --app-accent-font-color: #34383b;
  --app-accent-font-color-muted: #34383b;

  // Component Color
  --component-background-color: #d5d5d5;
  --component-background-color-muted: #34383b;
  --component-font-color: #34383b;
  --component-font-placeholder-color: #686868;
  --component-border-color: #a7b7c4;
  --component-border-color-muted: #373f47;
  --component-outline-color: black;
  --component-shade-color: #d1d1d5;

  --component-input-background-color: #34383b;
  --component-input-font-color: #e3e3e3;
  --component-box-background-color: #bbc0c7;

  --component-wrapper-background-color: #bbc0c7;
  --component-wrapper-font-color: #34383b;
  --component-wrapper-font-color-placeholder: #595d61;

  // Japanese
  --book-vol-1: #ff008c;
  --book-vol-2: #0099ff;
  --en-symbol: '\82F1';
  --kana-kanji: #f16d45;
  --hiragana: #34383b;
}
