:root {
	scroll-behavior: smooth;
}

:root[data-theme='dark'] {
	--app-background: #303033;
	--app-font: #e7ebf0;
	--app-font-muted: #838485;
	--app-font-inverse: #3f3f3f;

	--ja-kk: rgb(241, 109, 69);

	--card-diff: #414141;

	--table-normal: #5c5c5c;
	--table-shade: #494b4d;
	--table-border: rgb(41, 42, 46);
}
