%grid {
	--grid-margin-size: 1em;
	--grid-margin-break-size: 1fr;
	--grid-break-size: 50px;
	--grid-content-size: 1.5fr;
	--grid-gap-size: 1em 0;

	display: grid;
	gap: var(--grid-gap-size);
	grid-template-columns:
		[full-width-start]
		var(--grid-margin-size)
		[margin-start]
		var(--grid-margin-break-size)
		[breakpoint-start]
		var(--grid-break-size)
		[content-start]
		var(--grid-content-size)
		[content-end]
		var(--grid-break-size)
		[breakpoint-end]
		var(--grid-margin-break-size)
		[margin-end]
		var(--grid-margin-size)
		[full-width-end];
}

%grid-item {
	&-content {
		grid-column: content;

		@container (width <= 600px) {
			grid-column: margin;
		}
	}

	&-break {
		grid-column: breakpoint;

		@container (width <= 600px) {
			grid-column: margin;
		}
	}

	&-margin {
		grid-column: margin;
	}

	&-full {
		grid-column: full;
	}
}
