@use "sass:string";

@mixin with-icon($spacing: 0.4em, $alignment: 0.2em, $size: 1em) {
    & > .iconify {
        font-size: #{$size};
        margin-block-end: #{$alignment};

        @supports not (margin-block: 0) {
            margin-bottom: #{$alignment};
        }
    }

    & > * + * {
        margin-inline-start: $spacing;

        @supports not (margin-inline: 0) {
            margin-left: #{$spacing};
        }
    }
}

@mixin use-break($break: 600px) {
    & {
        @container (width <= #{$break}) {
            @content;
        }
    }
}

@mixin use-transition($property, $duration: 200ms, $easing: ease) {
    & {
        transition-property: string.unquote($string: $property);
        transition-duration: #{$duration};
        transition-timing-function: #{$easing};
        @content;
    }
}
