@use "~/assets/css/layouts";

@layer base {
	html {
		background-color: var(--global-background-color--body);
		color: var(--global-font-color);

		font-family: "IBM Plex Sans JP", sans-serif;
		overflow: auto scroll;
	}

	h1,
	h2,
	h3,
	h4,
	.jp {
		font-family: "M PLUS 2", sans-serif;
		font-weight: bolder;
	}

	.span--blue {
		color: rgb(96, 180, 207);
	}

	.text {
		&-indent {
			text-indent: 0.5in;
		}

		&-dim {
			color: var(--global-font-color--dim);
		}
	}
}

@layer transition {
	.page-enter-active,
	.page-leave-active {
		transition: all ease 150ms;
	}

	.page-enter-from,
	.page-leave-to {
		opacity: 0;
	}
}
