@layer global {
    :root {
        --global-background-color: hsl(0 0% 10%);
        --global-font-color: hsl(0 0% 95%);

        --global-outline-color: hsl(0 0% 95%);
        --global-border-color: hsl(0 0% 20%);
        --global-border-radius: 7px;
        --global-border: 1px solid var(--global-border-color);
    }
}
