@layer global {
	:root {
		// Component
		--global-background-color--body: hsl(0, 0%, 10%);
		--global-background-color: hsl(0, 0%, 15%);
		--global-font-color: hsl(0, 0%, 95%);
		--global-font-color--muted: hsl(from var(--global-font-color) h s 50%);

		// Border
		--global-border-color: hsl(from var(--global-background-color) h s 25%);
		--global-border: 1px solid var(--global-border-color);
		--global-border-radius: 7px;
		--global-border-radius-sm: 5px;

		// Animation
		--global-animation-duration: 200ms;
		--global-animation-easing: cubic-bezier(0.3, 4, 0.6, 1);
	}
}
